* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("https://img.freepik.com/fotos-premium/placa-circuitos-computadora-fondo-blanco_1312263-1031.jpg?semt=ais_hybrid");
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*--------------Estilos Header--------------*/

header {
    background: linear-gradient(rgb(175, 203, 255) 75%, rgba(22, 41, 54,0));
    height: 7rem;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    z-index: 100;
}

header .header-container {
    display: grid;
    grid-template-columns: 50% 50%; /* crea dos columnas */
    grid-template-rows: 50% 50%; /* crea dos filas */
    width: 100%;
}

header #header-name{
    grid-column: 1; 
    grid-row: 1;
    font-size: 50px;
    font-family: Arial, sans-serif;
    margin-left: 20px;
}

header #header-job {
    grid-column: 1; 
    grid-row: 2;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-left: 20px;
    margin-top: 5px;
}

header #header-nav{
    grid-column: 2; 
    grid-row: 2;
    width: 100%;
}

header #nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: Arial, sans-serif;
    font-size: 25px;

    padding-top: 0%;
}

header .nav-links {
    padding: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
    list-style-type: none;
}

header .nav-links a {
    text-decoration: none;
}

header .nav-links a:hover {
    background-color: whitesmoke;
}

/*--------------Estilos Footer--------------*/
footer {
    background: linear-gradient(rgba(22, 41, 54,0), rgb(175, 203, 255) 75%);
    height: 7rem;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

footer #footer-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%; /* crea dos filas */

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

footer #header-copyright {
    grid-column: 1; 
    grid-row: 2;
    font-family: Arial, sans-serif;
}

footer ul {
    grid-column: 1; 
    grid-row: 1;
    padding: 0%;
    margin: 0%;
}

footer ul.external-links-list li {
    display: inline;
    font-size: 30px;
}

footer a {
    text-decoration: none;
}

footer .fa-copyright{
    color: black;
}

/*--------------Estilos Main-------------*/

main {
    width: 100%;
    height: calc(100vh - 7rem);
    padding-top: 7em;
    overflow: auto;
}

/*--------------Estilos Index--------------*/

#user-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 72px;
}

.profile-description {
    display: inline-block;
    width: 50%;
}

.profile-image{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.profile-description-title{
    width: 100%;
    font-size: 50px;
}

.profile-description-text{
    width: 100%;
    font-size: 35px;
}

.academic-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    justify-content: space-around;
}

.academic-info-title{
    margin-left: 72px;
    margin-right: 72px;
    font-size: 35px;
}

#user-academic-info hr, #user-knowledge hr {
    height: 5px;
    background-color: black;
    margin-bottom: 1%;
}

.center img{
    width: 100%;
}

#user-knowledge {
    margin: 0;
}

.user-knowledge-title{
    margin-left: 72px;
    margin-right: 72px;
    font-size: 35px;
}

.user-knowledge-list{
    margin-left: 72px;
    margin-right: 72px;
    font-size: 20px;
}

.user-knowledge-list ul {
    flex-wrap:wrap;
    flex-direction:column;
    display:flex;

    height: 100px;
    width: 100%;
}

.user-knowledge-list li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1%;
}


/*--------------Estilos Projects--------------*/

.projects h2{
    margin-left: 20px;
}

.projects hr {
    margin-left: 20px;
    margin-right: 40px;
    height: 5px;
    background-color: black;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    justify-content: space-evenly;
}

.project{
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.project__info {
    padding: 1rem;
}

.project img {
    width: 100%;
}

.project__link {
    width: 50%;
    margin: auto;
    display: block;
}

.project__link button {
    width: 100%;
}

/*--------------Estilos Contacto--------------*/

#contact-form {
    padding: 2rem;
}

#contact-form * {
    display: block;
}

.newsletter-input * {
    display: inline-block !important;
}

#contact-form label {
    margin-top: 0.5rem;
}

#contact-form textarea {
    width: 100%;
}

#contact-form legend{
    font-weight:bold;
}

#contact-form .form-actions-buttons{
    width: 100%;
    padding-top: 5px;
}

#contact-form .form-actions-buttons button{
    margin: 2px;
    display: inline-block;
}

@media  (max-width:768px) {

    main {
        width: 100%;
        height: calc(100vh - 3rem);
        padding-top: 3rem;
        overflow: auto;
    }

    header, footer{
        height: 3rem;
    }

    header #header-name{
        font-size: 10px;
    }

    header #header-job{
        font-size: 7px;
    }

    header #nav-links {
        display: flex;
        justify-content: flex-end;
        font-size: 7px;
    }

    footer {
        background: linear-gradient(rgba(22, 41, 54,0), rgb(175, 203, 255) 75%);
    }

    footer ul.external-links-list li {
        display: inline;
        font-size: 10px;
    }

    footer #header-copyright {
        font-size: 10px;
    }

    #user-info{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px;
    }
    
    .profile-description {
        display: inline-block;
        width: 50%;
    }
    
    .profile-image{
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
    }
    
    .profile-description-title{
        width: 100%;
        font-size: 20px;
    }
    
    .profile-description-text{
        width: 100%;
        font-size: 15px;
    }

    .academic-info-title{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
    }

    .user-knowledge-title{
        margin-left: 10px;
        margin-right: 20px;
        font-size: 20px;
    }

    .user-knowledge-list{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
    }

    .user-knowledge-list ul{
        margin-left: 10px;
        padding-left: 0;
    }

    #user-academic-info hr, #user-knowledge hr {
        height: 3px;
        border-style: none;
    }
    
    .project{
        width: 40%;
    }

    .projects hr {
        height: 3px;
        border-style: none;
    }

    .project__link button {
        width: 100%;
        font-size: 8px;
    }
}

@media (min-width: 769px) and (max-width: 859px) {
    
    main {
        width: 100%;
        height: calc(100vh - 5rem);
        padding-top: 5rem;
        overflow: auto;
    }

    header, footer{
        height: 5rem;
    }

    header #header-name{
        font-size: 20px;
    }

    header #header-job{
        font-size: 15px;
    }

    header #nav-links {
        display: flex;
        justify-content: flex-end;
        font-size: 15px;
    }

    footer {
        background: linear-gradient(rgba(22, 41, 54,0), rgb(175, 203, 255) 75%);
    }

    footer ul.external-links-list li {
        display: inline;
        font-size: 20px;
    }

    footer #header-copyright {
        font-size: 15px;
    }

    #user-info{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px;
    }
    
    .profile-description {
        display: inline-block;
        width: 50%;
    }
    
    .profile-image{
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
    }
    
    .profile-description-title{
        width: 100%;
        font-size: 20px;
    }
    
    .profile-description-text{
        width: 100%;
        font-size: 15px;
    }

    .academic-info-title{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
    }

    .user-knowledge-title{
        margin-left: 10px;
        margin-right: 20px;
        font-size: 20px;
    }

    .user-knowledge-list{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
    }

    .user-knowledge-list ul{
        margin-left: 10px;
        padding-left: 0;
    }

    #user-academic-info hr, #user-knowledge hr {
        height: 3px;
        border-style: none;
    }
    
    .project{
        width: 40%;
    }

    .projects hr {
        height: 3px;
        border-style: none;
    }

    .project__link button {
        width: 100%;
        font-size: 8px;
    }

}

@media  (min-width:1024px) {

    .project {
        width: 22%;
    }
}